<h1 class="text-3xl">編集する習慣</h1>
<div class="px-3 py-3">
    <%= form_with model: @habit do |form| %>
        <p>タイトル</p>
        <%= form.text_field :title, value: @habit.title, class:"rounded-md border-2"%>
        <p>詳細</p>
        <%= form.text_field :detail, value: @habit.detail, class:"rounded-md border-2" %>
        <p><%= primary_submit(form, "送信") %></p>
    <% end %>
</div>
