<div class="px-2 py-2">
    <%= primary_link_to("習慣を登録する", new_habit_path, method: :new)  %>
    <h1 class="text-4xl px-2 py-3"><%= current_user.email %>さんの習慣</h1>
    <% if @habits.present? %>
        <% @habits.each do |habit| %>
            <div class="container flex flex-col px-8 py-5 bg-amber-100 rounded-lg border">
                <h2 class="underline current text-2xl text-blue-700 py-1 hover:text-blue-900 transition-all duration-300"><%= link_to habit.title , habit_path(habit) %></h2>
                <p> <%= habit.detail %></p>
            </div>
        <% end %>
    <% else %>
        <h2>登録した習慣が存在しません</h2>
    <%end%>
</div>