<div class="px=2 py-3">
    <h1 class="text-2xl">登録する習慣</h1>
    <%= form_with model: @habit do |form| %>
        <p>タイトル</p>
        <%= form.text_field :title, class: "rounded-md border-2"%>
        <p>詳細</p>
        <%= form.text_field :detail, class: "rounded-md border-2"%>
        <p class="px-2 py-3">
        <%= primary_submit(form, "送信")%>
        </p>
</div>
<% end %>
